<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div>
    <button type="button" class="btn btn-secondary m-1" onclick="logOut()">Log Out</button>
</div>
<div class="container-fluid text-center">
    <h1>Welcome to my CRUD Web Application!</h1>
    <h2>You can only view the table as a USER:</h2>
    <a class="h3" th:href="@{/users}">View users</a>
</div><div class="container-fluid text-center">
    <h2>And you can also edit it as an ADMIN: </h2>
    <a class="h3" th:href="@{/admin}">Manage users</a>
</div>

<script type="text/javascript">
    function logOut(){
        window.location= "[[@{/logout}]]";
    }
</script>
</body>
</html>